body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    margin-top: -80px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.description {
    margin-bottom: 20px;
    font-size: 25px;
}
.button {
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}

.btnText{
    margin-top: -2px;
    font-size: 25px;
}


@media (max-width: 768px) {
    .container {
        margin-top: -50px;
        padding: 10px;
    }
    .description {
        font-size: 20px;
    }
    .button {
        padding: 6px 12px;
        font-size: 14px;
    }

    .btnText{
        margin-top: 2px;
        font-size: 20px;
    }
}